.top{
    background-color: rgb(244, 244, 244);
    width: 1770px;
    height: 40px;
}

.midtop_content ul li {
    display: inline-block;
    margin-right: 20px; 
}

.mailtop {
    line-height: 45px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.diachi_top {
 
    line-height: 45px;
    padding-left: 150px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.fbtop a img{
    position: relative;
    top: 5px;
    width: 24px;
    height: 26px;
    padding-left: 450px;
}
.yttop a img{
    position: relative;
    top: 5px;
    width: 24px;
    height: 26px;
}
.zltop a img{
    position: relative;
    top: 5px;
    width: 50px;
    height: 26px;
    right: 20px;
}
.logo{
    position: relative;
    bottom: 50px;
}
.headermid{
    height: 80px;
}
.logo a img {
    width: 300px;
    height: 60px;
    padding-left:150px ;
}
.headermidcontent ul li{
    display: inline-block;
}

.thanhtimkiem{
    position: relative;
    top: 40px;
    left: 150px;
    width: 200px;
    border-right: 0px;
}

.thanhtimkiem button{
    position: relative;
    bottom: 21.5px;
    left: 220px;
    height: 21px;
    width: 30px;
    background-color: #da6b76;
    
    border-radius: 0px 5px 5px 0px;
    border-color: black;

}
.thanhtimkiem p a{
    text-decoration: none;
    position: relative;
    
}

.teleicon {
    position: relative;
    left: 270px;
    top: 60px;
}
.teleicon .dathang{
    position: relative;
    left: 50px;
    bottom: 65px;

}




.menu .menucontent{
    background-color: #222222;
    height: 50px;
    width: 1780px;
}

.menucontent ul li{
    display: inline-block;
}

.menucontent ul li a{
    position: relative;
    top: 15px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.carticon img{
    position: relative;
    left: 1000px;
    bottom: 5px;
    width:30px;
    height: 25px;
}
 
.menucontent ul li a:hover{
    background-color:#DC3545;
}

ul li{
    position: relative; 
}

ul li .sub-menu{
    position: relative;
    right: -130px;
    display: none;
    position: absolute;
    width: 200px;
    margin: 20px;
}
ul li:hover .sub-menu{
    display: block;
 
}
ul li:hover .sub-menu li a{
    display: block;

    background-color: #c0b8b8;
}

.productbig img{
    width: 330px;
}

.productwrapper{
    position: relative;
    left: 200px;
    top: 45px;
}

.productmini {
    display: flex;
    gap: 5px;
}

.productmini img{
    width:78px ;
    height: 78px;
}

.motasanpham{
    position: relative;
    bottom: 380px;
    left: 543px;
}

.motasanpham h2{
    font-family: 'Montserrat', sans-serif;
    width: 290px;
}

.motasanpham p{
    font-family: 'Montserrat', sans-serif;
    color: #CE2E2D;
    font-weight: bold;
    font-size: 18px;
}

.motasanpham ul li {
    font-family: 'Montserrat', sans-serif;
}

.tittle_chitietsp p{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    position: relative;
    bottom: 190px;
    left: 220px;
}

.chitietsp_wrapper{
    width: 705px;
}

.chitietsp_wrapper p{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 200px;
    left: 200px;
    font-size: 15px;
}

.chitietsp_wrapper ul li{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 200px;
    left: 200px;
    font-size: 15px;
}

.promoretittle h3{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 190px;
    left: 200px;
}
.morewrapper{
    background-color: rgba(22, 167, 187, 0.11);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    bottom: 200px;
    width: 100%;
    justify-items: flex-start;
}

.wrapper{
    background-color: #FFFFFF;
    position: relative;
    left: 120px;
    height: 365px;
    width: 270px;
    
}

.wrapper .imgpro img{
    width: 270px;
    height: 270px;
}

.category{
    height: 40px;
    width: 250px;
    background-color: #333333;
}

.cttittle h4 {
    height: 30px;
    width: 250px;
    position: relative;
    bottom: 2300px;
    left: 1000px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.cttittle ul li{
    list-style-type: none;
    position: relative;
    bottom: 2300px;
    left: 980px;
    line-height: 1.5;
}

.cttittle ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.khunganh{
    position: relative;
    bottom: 2300px;
    left: 1000px;
    padding-bottom: 10px;
}

.khunganh img{
    width: 100px;
    height: 100px;
}

.khungds{
    width:120px;
    height: 0px;
}

.khungds a,p{
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}
.footerkhung{
    height: 327px;
    width: 100%;
    background-color: #1A1A1A;

}

.footerkhung ul li{
    display: inline-block;
}
.tittlefooter p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    position: relative;
  
}

.noidung h3, p{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
}

.noidung ul li a{
    text-decoration: none;
}

.socialimg{
    display: flex;
    padding: 5px;
    margin: 0 auto;
    gap:20px
}

.socialimg a img{
    width: 30px;
    height: 35px;
}

.noidung ul li a{
    color: #BCBBB0;;
}

.fb-page{
    position: relative;
    left: 1000px;
    bottom:165px;
}

.banquyen{
    background-color: #333333;
    width: 1440px;
    height: 50px;
}
.banquyen ul li {
    position: relative;
    display: inline-block;
}

.banquyen{
    position: relative;
    bottom: 210px;
}
#content{
    overflow: hidden;
    min-height: 300px;
}

#footer{
    overflow: hidden;
    position: relative;
    bottom: 210px;
}

#container{
    position: relative;
    bottom: 17px;
    height: 100%;
}